
ENVIRONMENT=

SECRET_KEY=
DEBUG=
HOST=
PORT=

DB_MASTER_ENABLE=
DB_MASTER_ENGINE=
DB_MASTER_NAME=
DB_MASTER_USERNAME=
DB_MASTER_PASSWORD=
DB_MASTER_HOST=
DB_MASTER_PORT=

DOGS_API_URL=
DOGS_API_KEY=

MINIO_HOST=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_API=
MINIO_PATH=
MINIO_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
MINIO_PUBLIC_DOMAIN=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
